@import "./../abstract/constants";

.products {
    width: 100%;
    height: 71rem;
    padding-top: 1rem;
    // background-color: lime;

}

.wrapper_products {
    width: 100%;
    height: 68rem;
  

    h2 {
        width: 60%;
        margin: 3rem auto;
        letter-spacing: 0.6rem;
        line-height: 7.5rem;
        color: #1c1c1b;
        font-weight: 400;
        font-family: "Oswald";
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
    }
}

.slider_container {
    width: 100%;
    @include flex();
    background-color: #f7f8f3;


   
    }
 

.slider_product {
    //  width: 45.1rem;
    width: 32%;
    height: 50.6rem;
    background-color: #ffffff;
    border: 1px solid #ced6af;
   
}

.product_card {
    width: 100%;
    height: 42rem;
    padding: 4rem 1rem;
    @include flex(space-between, center, column );
}

.star_rating {
    width: 9rem;
    height: 1.8rem;
    @extend %flexList;
}

.card_tittle {
    width: 85%;
    height: 12.2rem;
    font-size: 1.8rem;
    
    color: #1c1c1b;
    font-weight: 400;
    font-family: "Oswald";
    text-align: center;
    text-transform: uppercase;
   
}

.card_item {
    width: 11.9rem;
    height: 25.6rem;
    filter: drop-shadow(10.42px 10.79px 6.5px rgba(0,0,0,0.08));

    img {
        width: 11.9rem;
        height: 25.6rem;
    }
}

.card_footer {
    @include flex();
    
}

.price {
    width: 69%;
    height: 7.5rem;
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    // line-height: 75px;
    color: #1c1c1b;
    font-weight: 400;
    font-family: "Oswald";
    text-align: left;
    padding: 3rem;
    // background-color: mediumblue;
    background-color: #f1f1f1;
    border: 1px solid #e1e1e1;
    
}

.shop {
    width: 31%;
    height: 7.5rem;
    background-color: #6d7749;
    @extend %transition;
    padding: 0.1rem 1.5rem;

    &:hover {
    background-color: rgba(63, 68, 44, 0.91);
        
    }
    
}

.arrows_block {
    width: 15rem;
    height: 3.5rem;
    margin: 6rem auto;
    @include flex();

    svg {
        cursor: pointer;
        

        &:hover .shp0 {
            fill: rgba(63, 68, 44, 0.39);
            @extend %transition;
        }
    }
}